@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1536px;
  --breakpoint-xxxl: 1920px;

  --height-screen-dynamic: 100dvh;
}

:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #151312;

  /* colors */
  --dark-gray: #6a6b6e;
  --green: #78a807;
  --gray: #998f8f;

  /* gray scale */
  --soft-gray: #b6b4bd;
  --gray-10: #b6b4bd1a;
  --gray-20: #b6b4bd33;
  --gray-30: #b6b4bd4d;
  --gray-40: #b6b4bd66;
  --gray-50: #b6b4bd80;
  --gray-60: #b6b4bd99;
  --gray-70: #b6b4bdcc;
  --gray-80: #b6b4bddd;
  --gray-90: #b6b4bdee;

  /* orange */
  --orange: #cf5525;
  --orange-10: #cf55251a;
  --orange-20: #cf552533;
  --orange-30: #cf55254d;
  --orange-40: #cf552566;
  --orange-50: #cf552580;

  /* white */
  --white: #ffffff;
  --white-10: #ffffff1a;
  --white-20: #ffffff33;
  --white-30: #ffffff4d;
  --white-40: #ffffff66;
  --white-50: #ffffff80;

  /* black */
  --black: #151312;
  --black-10: #1513121a;
  --black-20: #15131233;
  --black-30: #1513124d;
  --black-40: #15131266;
  --black-50: #15131280;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

#layout-container {
  height: calc(100vh - 100px);
}

/* width */
#layout-container::-webkit-scrollbar {
  width: 0;
}

/* Track */
#layout-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#layout-container::-webkit-scrollbar-thumb {
  background: var(--orange-30);
}

/* Handle on hover */
#layout-container::-webkit-scrollbar-thumb:hover {
  background: var(--orange);
}
